@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "~bootstrap/scss/bootstrap";
* {
    font-family: "Roboto";
}
.svg-background {
    background-color: #290000;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23290000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
.main-form {
    border-radius: 25px;
    box-shadow: 11px 10px 8px -2px rgba(0, 0, 0, 0.75);
    .form-p {
        font-size: 1.1rem;
        margin-top: 1rem;
        span {
            cursor: pointer;
            color: rgb(10, 121, 121);
            font-weight: 600;
        }
        span:hover {
            border-bottom: 1px solid rgb(10, 121, 121);
        }
    }
    input[type="email"],
    input[type="text"],
    input[type="password"] {
        background-color: #1a2226;
        border: none;
        border-top: 0px;
        border-radius: 5px;
        outline: 0;
        padding-left: 10px;
        color: #ecf0f5;
    }
}
.dashboard-page {
    background-color: #ebebd3;
    min-height: 100vh;

    .navbar-brand {
        font-size: 2rem;
    }
    .nav-item {
        font-size: 1.5rem;
        cursor: pointer;
    }
    .nav-item:hover {
        color: rgb(154, 156, 156);
    }
}
@media only screen and (max-width: 768px) {
    .main-form {
        width: 90% !important;
    }
}
